<h1>Add todo page</h1>
<form #todoForm="ngForm" (ngSubmit)="!todoForm.invalid && onSaveTodo()" >
<table class="table">

    <tbody>

        <tr>
            <td>Task: </td>
            <td><input [(ngModel)]="todo.task" name="task" required minlength="3"   /></td>
        </tr>
        <tr>
            <td>Day: </td>
            <td>
                <input type="number" [(ngModel)]="todo.day" name="day" required /></td>
        </tr>
        <tr>
            <td>Register: </td>
            <td><input type="date" [(ngModel)]="todo.register" name="register" /></td>
        </tr>
        <tr>
            <td>Category: </td>
            <td>
                <select [(ngModel)]="todo.category.id" name="category">
                    <option *ngFor="let c of categories" 
                    [value]="c.id">{{c.name}}</option>
                </select>
            </td>
        </tr>
        <tr>
            <td></td>
            <td><button class="btn btn-primary" type="submit" >Save</button></td>
        </tr>
    </tbody>

</table>
</form>