<button (click)="onAddTodo()" class="btn btn-success">Add todo</button>

<button class="btn btn-danger" (click)="onDeleteTodo()" >Sil</button>
<button class="btn btn-primary" (click)="onUpdateTodo()" >Redaktə et</button>
<hr>

<!-- <table class="table">
    <thead>
        <tr><th>Id</th> <th>Task</th> <th>Day</th>  </tr>
    </thead>
    <tbody>
        <tr *ngFor="let t of  todos">
            <td>{{t.id}}</td>
            <td>{{t.task}}</td>
            <td>{{t.day}}</td>
        </tr>
    </tbody>
</table> -->

 
<button (click)="loadRows()">Siyahını yenilə</button>

<input placeholder="Axtarış" [(ngModel)]="searchText" type="text" (keyup)="quickSearch()"/>
<hr>
<ag-grid-angular
    #agGrid
    style="width: 100%;
	height: 300px;"
    class="ag-theme-balham"
    [rowData]="todos" 
    [columnDefs]="columnDefs"
    pagination="true"
    rowSelection="multiple"
    [animateRows]="true"
    [enableColResize]="true"
    (gridReady)="onGridReady($event)"   
	[floatingFilter]="true"
    >
</ag-grid-angular>